services:
  guild-webdev:
    build: .
    container_name: the-guild-container
    ports:
      - "4321:4321"
    volumes:
      - .:/app
      - node_modules:/app/node_modules

volumes:
  node_modules:
