---
// Componit Imports
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout title="Home">
	
	
	<div class="mt-10">
	    <div class="flex flex-col mt-10">
            <h1 class="flex justify-center text-4xl">OH NO!</h1>
            <h2 class="flex justify-center text-2xl">Looks like somthing went wrong</h2>
        </div>
	</div>
	
</MainLayout>