---

// Componit Imports
import StoreMap from "../components/StoreMap.astro"
import MainLayout from "../layouts/MainLayout.astro"

---

<MainLayout title="About">
	<h1 class="flex justify-center text-4xl my-10">About!!</h1>
	<StoreMap />
</MainLayout>