---

// Componit Imports
import StoreMap from "../components/StoreMap.astro"
import MainLayout from "../layouts/MainLayout.astro"

---

<MainLayout title="About">
	<h1 class="text-4xl">Hello Astro About!</h1>
	<StoreMap />
</MainLayout>