---
// Componit Imports
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout title="Tattoo Artist">
	<h1 class="flex justify-center text-4xl my-10">Hello Tattoo Artist!!</h1>
</MainLayout>