---

---

<footer class="flex justify-center my-5">
    <small>
        The Guild <span id="copyright"></span>
    </small>
</footer>

<script>
    document.querySelector("#copyright").textContent = new Date()
        .getFullYear()
        .toString();
</script>
