---

---

<footer class="flex justify-center p-8">
    <small>
        The Guild <span id="copyright"></span>
    </small>
</footer>

<script>
    document.querySelector("#copyright").textContent = 
    new Date().getFullYear().toString();
</script>