---

---

<footer class="fixed bottom-0 left-1/2 transform -translate-x-1/2 p-8">
    <small>
        The Guild <span id="copyright"></span>
    </small>
</footer>

<script>
    document.querySelector("#copyright").textContent = 
    new Date().getFullYear().toString();
</script>
