---
// Events css
import '../../styles/events.css';

// Componit Imports
import MainLayout from "../../layouts/MainLayout.astro"


// const allPosts = await Astro.glob("./post/*.md");
const weeklyEvents = await Astro.glob("./weekly/*.md");

---

<MainLayout title="Home">
	 <section>
    <h1 class="flex justify-center text-4xl my-10">Guild Events</h1>
    <ul>
    <li>
      <a href="/events/weekly/Fleash-and-Blood-Armory/">Post 1</a>
    </li>
    <li>
      <a href="/events/weekly/Friday-Night-Magic/">Post 2</a>
    </li>
  </ul>
    <div>
      {
        weeklyEvents.map((post) => (
          <div>
	          frontmatter={post.frontmatter}
	          url={post.url}
	          tagType="h2"
          </div>
        ))
      }
    </div>
  </section>
</MainLayout>